# --- PlatformIO ---
.pio/
.pioenvs/
.piolibdeps/

# --- Editor / VS Code ---
.vscode/
*.code-workspace

# --- Security & Secrets ---
.env
*.env
secrets.h
config_private.json

# --- Operating System ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db